{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Asistente De Empresas {% endblock %}

{% block area %}

	<div id="asMain">
		
		<div id="asControl">
			
			<table id="asControlTab" border='1'>
				
				<tr>
					<td><b>Actividad Económica</b></td>
					<td><b>Empresa</b></td>
				</tr>
				
				<tr>
					<td><img id="btnNewActi" src="{{ asset('bundles/scontrol/imagenes/iconos/agregar.png') }}" title="Nueva Actividad Económica"></td>
					<td><img id="btnNewEmpr" src="{{ asset('bundles/scontrol/imagenes/iconos/agregar.png') }}" title="Nueva Empresa"></td>
				</tr>
				
				<tr>
					<td>
						<select id='selActi'>
							<option value='@'>Seleccione...</option>
							{% for c in actividades %}
								<option value="{{ c.id }}">{{ c.actEcon }}</option>
							{% endfor %}
						</select>
					</td>
				
					<td>
						<select id='selEmpr'>
							<option value='@'>Seleccione...</option>
						</select>
					</td>	
				</tr>
				
			</table>
			
		</div>
		
		<div id="asArea">
			
		</div>
		
	</div>

{% endblock %}

{% block style %}
	<style type="text/css">
		
		#asMain
		{
			position: absolute;
			top: 1%;
			left: 1%;
			height: 98%;
			width: 98%;
			overflow: auto;
		}
		
		#asControl
		{
			position: absolute;
			top: 1%;
			left: 1%;
			height: 20%;
			width: 98%;
			overflow: auto;
		}
		
		#asArea
		{
			border: 1px solid #1E90FF; 
			position: absolute; 
			bottom: 0%;
			left: 1%; 
			height: 78%;
			width: 98%; 
		}
		
		#asControlTab
		{
			background: red;
			width: 100%;
		}
		
		#asControlTab td
		{
			width: 50%;
		}
		
		#asControlTab img
		{
			cursor: pointer;
		}
		
	</style>
{% endblock %}

{% block uscript %}
	<script type="text/javascript">
		
		var $optIni = "<option value='@'>Seleccione...</option>";
		
		function $init()
		{
			
		}
	
	</script>
{% endblock %}