{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Alerta De Permisos {% endblock %}

{% block area %}
	<img src="{{ asset('bundles/scontrol/imagenes/49.png') }}"><h2><b>Usted no posee privilégios para ingresar en esta sección!</b></h2>
{% endblock %}
