body
{
	/*background: #45568a;*/
	font-family: tahoma, arial, helvetica;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

h2
{
	font-family: helvetica, arial;
	font-size: 22px;
}
.home {
	cursor: pointer;
	color: #000; 
	font-size: 0.9em; 
	padding-bottom: 0.1px;
	padding-top: 0.1px;
	padding-left: 1px;
	padding-right: 1px;
}
.home:hover{
	color: #6D6D6D;
}
.exitBtn
{
	cursor: pointer;
	color: #000; 
	font-size: 0.9em; 
	padding-bottom: 0.1px;
	padding-top: 0.1px;
	padding-left: 1px;
	padding-right: 1px;
}

.exitBtn:hover
{
	color: #6D6D6D;
}

#vime-cabecera{
	background: url("../imagenes/fondo.png") no-repeat;
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	height: 10%;
	width: 100%;
}

#vime-barra{
	position: absolute;
	top: 9%;
	left: 0%;
	right: 0%;
	height: 3%;
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid #c8bebe;
	border-bottom: 1px solid #c8bebe;
}

#titulo_form{
	top: 3px;
	left: 2px;
	position: absolute;
}

#msg_estado{
	top: 3px;
	left: 50%;
	position: absolute;
}

#vime-menu
{
    position: absolute;
    top: 13%;
    left: 0%;
    overflow: auto;
    width: 14%;
    height: 81%;
    background: #f2f2f2;
    text-align: left;
    border: 1px solid #c8bebe;
    font-size: 14px;
}

#vime-menu table
{
    cursor: pointer;
    width: 100%;
    text-align: left;
}

#vime-menu td
{
    background: #e5e5e5;
}

#vime-menu td:hover
{
    background: #7E8DBB;
}


#vime-vista
{
    position: absolute;
    top: 13%;
    right: 0%;
    width: 85%;
    height: 81%;
    background: #f2f2f2;
    text-align: center;
    font-weight: bold;
    border: 1px solid #c8bebe;
}

#vime-area
{
    position: absolute;
    padding-top: 3%;
    top: 1%;
    left: 0.5%;
    overflow: auto;
    width: 98%;
    height: 92%;
    min-height: 50%;
    text-align: center;
    color: #45568a;
    border: 2px inset #BFBFBF;
    padding-left: 1%;
}

#_vime-vista
{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    background: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

#_vime-area
{
    position: absolute;
    top: 1%;
    left: 1%;
    overflow: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #45568a;
}

.button
{
	background-color:#203982; 
	color:#fff;
	cursor: pointer;
	border-radius: 6px;
}

.vime-table
{
	display: table;
	width: 98%;
	background: #FFF; /*#dee7ec;*/
	border-spacing: 0;
	border-collapse: collapse;
	border-top-width: 1px;
	border-right-width: 2px;
	border-left-width: 1px;
	border-bottom-width: 2px;
	border-top-style: outset;
	border-right-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
	border-top-color: #558FA6;	
	border-right-color: #558FA6;	
	border-left-color: #558FA6;
	border-bottom-color: #558FA6;
	
}

.vime-table tr:hover
{
	background: #f9fbcc;
}

.vime-table th
{
	width: 10px;
	height: 10px;
	background: #45568a;
	color: #fff;
	font-family: Arial;
	font-size: 13px;
}

.vime-table td
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7ca6b8;
}


.vime-table-des
{
	display: table;
	width: 60%;
	background: #FFF; /*#dee7ec;*/
	border-spacing: 0;
	border-collapse: collapse;
	border-top-width: 1px;
	border-right-width: 2px;
	border-left-width: 1px;
	border-bottom-width: 2px;
	border-top-style: outset;
	border-right-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
	border-top-color: #558FA6;	
	border-right-color: #558FA6;	
	border-left-color: #558FA6;
	border-bottom-color: #558FA6;	
}

.vime-table-des tr:hover
{
	background: #f9fbcc;
}

.vime-table-des th
{
	width: 10px;
	height: 10px;
	background: #45568a;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	white-space: nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.vime-table-des td
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7ca6b8;
}

#vime-pie
{
	position: absolute;
	top: 95%;
	left: 0%;
	bottom: 0%;
	height: 4%;
	width: 100%; 
	background: #f2f2f2;
	border-top: 1px solid #c8bebe;
	border-bottom: 1px solid #c8bebe;
	text-align: center;
}



.Menu
{
	height: 18px;
	padding-left: 6px;
	overflow: hidden;
	cursor: pointer;
	border-bottom: 2px outset #898787;
	border-top: 1px outset #898787;
	border-left: 1px solid #898787;
	border-right: 2px outset #898787;
}

.Menu:hover
{
	/*height: auto;*/
	border-top: 2px outset #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
	background: #FFFFFF;
}

.Menu table
{
	width: 100%;
}

.Menu tr:hover
{
	background: #5773cf;
}

.vime-action
{
	position: absolute;
	overflow: hidden;
	top: 15%;
	left: 15.5%;
	width: 15px;
	height: 38px;
	background: #DDD8D8;
	box-shadow: 5px 5px 10px #C6C6C6;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}

._vime-action
{
	position: absolute;
	overflow: hidden;
	top: 1%;
	left: 1%;
	width: 15px;
	height: 38px;
	background: #DDD8D8;
	box-shadow: 5px 5px 10px #C6C6C6;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
}

.vime-action:hover, ._vime-action:hover
{
	width: auto;
	cursor: pointer;
}

/* --- POPUP --- */

.tPop
{
	z-index: 0;
	background: #000;
	color: #FFF;
	display: none;
	position: absolute;
	overflow: auto;
	font-size: 0.8em;
	font-family: serif;
	top: 14.5%;
	right: 0.5%;
	width: 10%;
	height: 10%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	box-shadow: -4px 4px 5px #5B725C;
	-webkit-box-shadow: -4px 4px 5px #5B725C;
    -moz-box-shadow: -4px 4px 5px #5B725C;
}

.tPopTab
{
	width: 100%;
	height: 100%;
}

.tPopIn
{
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-style: italic;
}

/* --- CAMBIO CLAVE --- */

.dfZone
{
	display: none;
	position: absolute;
	right: 1%;
	bottom: 7%;
	width: auto;
	height: auto;
	z-index: 0;
	background: #000;
	color: #FFF;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	box-shadow: -4px 4px 5px #5B725C;
	-webkit-box-shadow: -4px 4px 5px #5B725C;
    -moz-box-shadow: -4px 4px 5px #5B725C;	
}

.dfZone button
{
	background-color: #000; 
	color:#fff;
	border-radius: 10px;
	cursor: pointer;
}
		
.dfZone button:hover
{
	background-color:#FFFFFF; 
	color:#000000;
}


/* --- CALENDARIO ICE --- */
.Calendar
{
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

.Calendar td
{
	border: 1px solid #BFBFBF;
	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;
 	border-radius: 10px;
}

.Calendar td:hover
{
	color: #1A1A1A;
	background: #E5E5E5;
	cursor: pointer;
}

.CalendarWeek td
{ 
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #000000;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px; 
}

.CalendarWeek td:hover
{ 
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #000000;
	cursor: default;
}

.CalendarMark td:hover
{
	color: #FFFFFF;
	background: #000000;
	cursor:default;
}

.CalendarButton
{
	color: #000000;
	background: #FFFFFF;
}

.XAGCalendar
{
	position: absolute;
	overflow: auto; 
	background: #000000; 
	border: 2px solid #BFBFBF;
	opacity: 0.8;
	-moz-border-radius: 15px;
 	-webkit-border-radius: 15px;
 	border-radius: 15px;
 	padding: 5px;
}