{% extends "ScontrolBundle::layout.html.twig" %}

{% block title %} Revisión Médica {% endblock %}

{% block includes %}
	<link href="{{ asset('bundles/scontrol/css/master.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ asset('bundles/scontrol/js/master.js') }}">/*--- Include ---*/</script>
{% endblock %}

{% block area %}

	
	
{% endblock %}



{% block uscript %}
	
	<script type="text/javascript">
		
		var $optIni = "<option value='@'>Seleccione...</option>";
		
		function $init()
		{
			
		}
	
	</script>
	
{% endblock %}